ul#header {background-color: #434967; height: 81px; list-style-type: none; display: flex; justify-content: center}
ul#header li {float: left; border: 1px solid #000; height: 80px; margin-left: 5px; margin-right: 5px; top: 0}

li#logo {width: 20%}
li#title {width: 40%; color: #7fd667; font-size: 30px}
li#phone {width: 20%; color: #7fd667; font-size: 20px}

ul#nav {background-color:#434967; height: 45px;
    list-style-type: none; text-align:center; padding-top: 10px; box-sizing:border-box; margin-top: 0; top:81px; left: 0; width: 100%}
ul#nav li {display:inline-block; width: 10%}
ul#nav li:hover {background-color: #000}
ul#nav li a {color: #7fd667; text-decoration:none;
    font-size: 20px}
ul#nav li a:hover {color: #1c751f}

/* .mobile {font-size: 20px}
.no-mobile {font-size: 30px} */